export VALHALLA_DATA_DIR=/everything/src/github.com/yuiseki/osm-planet-in-da-house/data/valhalla
export VALHALLA_CONFIG=$VALHALLA_DATA_DIR/valhalla.json
export VALHALLA_TILES_DIR=$VALHALLA_DATA_DIR/valhalla_tiles
export VALHALLA_TILES_TAR=$VALHALLA_DATA_DIR/valhalla_tiles.tar
export PYVALHALLA_SRC=/home/yuiseki/Workspaces/repos/_yuiseki/_fork/valhalla/src/bindings/python
