.env
.venv/
__pycache__/
outputs/
data/
*.tar
*.pbf
*.sqlite
valhalla_tiles/
*.pyc
data/tokyo/input/*.osm.pbf
data/tokyo/valhalla/*
!data/tokyo/.gitkeep
!data/tokyo/input/.gitkeep
!data/tokyo/valhalla/.gitkeep
